@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clima Tempo</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card card-border">
            <h5 class="card-header card-he">Cidades mais quentes hoje</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>               
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card card-border">
            <h5 class="card-header card-he">Cidades mais frias hoje</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>               
            </div>
        </div>
    </div>
</div>

<div class="row">
        <div class="col-xs-12 col-sm-2 col-md-12">
            <label>Cidade</label>
            <select class="select2">
                <option>Teste </option>
            </select>
        </div>
</div>